.typing-text {
    font-size: 40px;
    border-right: .15em solid orange; /* Adjust the color and thickness of the cursor */
    color: gray;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  /* The typing effect animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30em;
    }
  }
  
  /* The cursor blinking animation */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  